body{
  font-family: 'Verdana',sans-serif;
  background: linear-gradient(0deg, #ff0000 20% , #000000 90%);
  color: #ffffff;

}

a{
  text-decoration: none;
  color: #1B96BD;
  font-weight: 500;
}

.container{
  margin: 0 10% 0 10%;
}

.cabecalho{
  background: rgba(0, 0, 0, 0.0);
  padding: 40px;
  font-size: 40px;
  position: relative;
}

.cabecalho li {
  text-decoration: none;
  display: inline;
  padding: 0px 5px 0px 5px;
}

figure{
  display: inline-block;
  border: 2px solid black;
  box-shadow: 2px 2px 5px black;
  box-sizing: border-box;
  padding: 5px 5px 150px 5px;
  position: relative;
}

figcaption{
  position: absolute;
}

.rodape{
  padding: 50px;
  opacity: 0.5;
  font-size:30px;
}

.cabecalho li:hover{
  transition: 3s;
  background: linear-gradient(0deg, #ff0000 20% , #000000 90%);
}

span{
  font-weight: 600;
}
